{
  "presets": [
    "@babel/preset-env",
    "@babel/preset-react"
  ],
  "plugins": [
    "@babel/plugin-transform-runtime",
    "react-hot-loader/babel",
    ["babel-plugin-root-import", {
      "paths": [{
        "rootPathPrefix": "~/"
      }, {
        "rootPathPrefix": "~src/",
        "rootPathSuffix": "./src"
      }, {
        "rootPathPrefix": "~styles/",
        "rootPathSuffix": "./src/assets/styles"
      }]
    }]
  ]
}
