@import '~styles/main-utils';

.block-effect {
  position: relative;
  display: flex;

  &._next-start,
  &._prev-start {
    .block-effect__line {
      opacity: 1;
    }
  }

  &._next-finish,
  &._prev-finish {
    .block-effect__line {
      opacity: 0;
    }
  }
}

.block-effect__inner {}

.block-effect__line {
  z-index: 1;

  display: block;
  overflow: hidden;

  > * {
    display: block;
  }
}

._imageReveal-effect {
  .block-effect__inner {
    background-color: color-rgba('main', 0.12);
  }
}
