@import '~styles/main-utils';
@import './text-revealer.variables.json';

.text-revealer {
  position: relative;
  display: block;

  &._next-start,
  &._prev-start {
    .text-revealer__line {
      opacity: 1;
    }
  }

  &._next-end,
  &._prev-end {
    .text-revealer__line {
      opacity: 0;
    }
  }
}

.text-revealer__wrapper {
  position: absolute;
  display: block;
  width: 100%;
  z-index: 1;

  > * {
    color: transparent;
    opacity: 1 !important;
  }
}

.text-revealer__line {
  z-index: 1;

  display: block;
  overflow: hidden;

  background-image: linear-gradient(color-rgb("background"), color-rgb("background"));
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 100% 0;

  will-change: auto;

  > * {
    display: block;
  }
}
