//
// Font-face mixins
//

$font-path: '../fonts' !default;

@mixin font-face($path, $name, $family, $weight: 400, $style: normal, $exts: eot woff2 woff ttf svg) {
  $src: null;

  $extmods: (
    eot: "?",
    svg: "#" + str-replace($name, " ", "_")
  );

  $formats: (
    otf: "opentype",
    ttf: "truetype"
  );

  @each $ext in $exts {
    $extmod: if(map-has-key($extmods, $ext), $ext + map-get($extmods, $ext), $ext);
    $format: if(map-has-key($formats, $ext), map-get($formats, $ext), $ext);
    $src: append($src, url('#{$path}/#{$name}/#{$name}-#{$weight}-#{$style}/#{$name}-#{$weight}-#{$style}.#{$extmod}') format(quote($format)), comma);
  }

  @font-face {
    font-family: quote($family);
    src: $src;
    font-style: $style;
    font-weight: $weight;
    font-stretch: normal;

    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
  }
}

@mixin load-fonts($fonts, $path: '../fonts') {
  @each $name, $group in $fonts {
    $family: map-get($group, 'family');
    $variants: map-get($group, 'variants');

    @if type-of($variants) == 'map' {
      @include font-face(
        $path,
        $name,
        $family,
        map-get($variants, 'weight'),
        map-get($variants, 'style'),
        woff woff2
      );
    }

    @if type-of($variants) == 'list' {
      @each $variant in $variants {
        @include font-face(
          $path,
          $name,
          $family,
          map-get($variant, 'weight'),
          map-get($variant, 'style'),
          woff woff2
        );
      }
    }
  }
}
