@import '~styles/main-utils';

.ds-quote-navigation {
  display: block;

  height: 100%;
  width: 100%;

  span {
    display: flex;
    justify-content: center;

    height: 100%;
    width: 100%;
  }

  &._prev {
    span {
      align-items: flex-start;
    }
  }
  &._next {
    span {
      align-items: flex-end;
    }
  }
}
