@import '~styles/main-utils';

.image {
  position: relative;
  display: block;

  width: auto;
  height: auto;

  background-color: color-rgba('main', 0.15);

  overflow: hidden;

  &._loading {
    .image__img {
      opacity: 0;

      transition: opacity 100ms ease-in-out;
    }

    animation: pulse 1200ms linear 500ms infinite;
  }

  img {
    width: 100%;
    height: 100%;
    opacity: 0;
  }
}

.image__img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  opacity: 1;

  transition: opacity 250ms ease-in-out;
}

.image__message {
  position: absolute;
  top: 0;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  color: color-rgb('main');
}

@keyframes pulse {
  0% {
    opacity: 1;
  }
  30% {
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
}
