// Color palette
//

$color-background: map-deep-get($colors, 'light', 'background') !default;
$color-background-l1: map-deep-get($colors, 'light', 'background-l1') !default;
$color-main: map-deep-get($colors, 'light', 'main') !default;
$color-focus: map-deep-get($colors, 'light', 'focus') !default;


// Breakpoints
//

$grid-columns: map-deep-get($grid, 'columns') !default;
$grid-gutter: map-deep-get($grid, 'gutter') !default;
$grid-breakpoints: map-deep-get($grid, 'breakpoints') !default;
$grid-max-widths: map-deep-get($grid, 'max-widths') !default;


// Spacing
//

$spacers: map-deep-get($spacing, 'spacers') !default;
$spacers-em: em-map($spacers) !default;

$layouts: map-deep-get($spacing, 'layouts') !default;
$layouts-em: em-map($layouts) !default;


// Opacity
//

$opacity-hover: 0.04 !default;
$opacity-focus: 0.12 !default;
$opacity-selected: 0.08 !default;
$opacity-disabled: 0.38 !default;


// Typography
//

// Font path
$font-path: map-deep-get($font, 'path') !default;

// Typefaces
$font-typefaces: map-deep-get($font, 'typefaces') !default;

// Font family
$font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol' !default;
$font-family-primary: map-deep-get($font-typefaces, 'primary', 'family') !default;

// Font size
$font-size: rem(16px) !default;
$font-size-sm: rem(16px - 2) !default;
$font-size-lg: rem(16px + 2) !default;

// Line height
$font-height-default: 1.5em !default;
$font-height-condensed: 1.25em !default;
$font-height-condensed-ultra: 1 !default;

// Font weight
$font-weight-normal: 400 !default;
$font-weight-bold: 700 !default;


// Button
//

$btn-focus-width: 2px !default;
$btn-focus-color: $color-focus !default;
$btn-focus-box-shadow: 0 0 0 $btn-focus-width $btn-focus-color !default;

$btn-bg-opacity: 0.1 !default;
$btn-bg-opacity-hover: $btn-bg-opacity + $opacity-hover !default;
$btn-bg-opacity-focus: $btn-bg-opacity + $opacity-focus !default;
$btn-bg-opacity-selected: $btn-bg-opacity + $opacity-selected !default;

// Body
//

$body-family: $font-family-primary !default;
$body-size: $font-size !default;
$body-line-height: $font-height-default !default;
$body-weight: $font-weight-normal !default;
$body-color: $color-main !default;

// Heading
//

$h1-size: 40px;
$h2-size: 28px;

// Icon
//

$icon-32: 32px;
